################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Guesty.Data/bin/Debug/netcoreapp3.1
/Guesty.Repository/bin/Debug/netcoreapp3.1
/Guesty.Data/obj
/Guesty.Repository/obj
/Guesty.Web/bin/Debug/netcoreapp3.1
/Guesty.Web/obj
